<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: lightblue;}
h1   {color: blue;}
h2    {color:rgb(196, 27, 83);}
h3   {color: rgb(196, 27, 83);}
th    {color: green;}
td   {background-color: rgb(201, 231, 131); color: rgb(49, 6, 85);}
table {}
</style>
</head>
<body>
</body>
</html>
